build
build.log
.ninja_log
.ninja_deps
*.o
*.a
*.so
*.d
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.ipdb
*.obj
*.ilk
*.idb
*.ipdb
*.pdb

cmake_install.cmake
build.ninja
CMakeCache.txt
CMakeFiles
bin
.cache
compile_commands.json